# Anime Recommender System

<img src="https://i.ytimg.com/vi/jzW5pWPF8a4/maxresdefault.jpg" alt="Sasuke Rescue Team" />

<i>Naruto Episode 107</i>

<p><b>Anime : </b> a style of Japanese film and television animation, typically aimed at adults as well as children. </p>

## Dataset Loading

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#importing the dataset
df1 = pd.read_csv("./anime.csv")
df2 = pd.read_csv("./rating.csv")

In [3]:
df1.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
df2.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [5]:
df = df2.merge(df1,on='anime_id')
df.head()

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,1,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
1,3,20,8,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
2,5,20,6,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
3,6,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
4,10,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

## Dataset Preparation

In [6]:
#dropping unnecessary variables
df.drop(['rating_y','members','genre','episodes','type'],inplace=True,axis=1)

In [7]:
df.head()

   user_id  anime_id  rating_x    name
0        1        20        -1  Naruto
1        3        20         8  Naruto
2        5        20         6  Naruto
3        6        20        -1  Naruto
4       10        20        -1  Naruto

In [8]:
#converting to binary values (user likes or doesn't like)
df['rating_x'] = df['rating_x'].replace([0,1,2,3,4,5],0)
df['rating_x'] = df['rating_x'].replace([6,7,8,9,10],1)

In [9]:
# removing rows where movie was not rated
df['rating_x'] = df['rating_x'].replace(-1,np.nan)
df.dropna(inplace=True)

In [10]:
df.head()

   user_id  anime_id  rating_x    name
1        3        20       1.0  Naruto
2        5        20       1.0  Naruto
5       21        20       1.0  Naruto
6       28        20       1.0  Naruto
7       34        20       1.0  Naruto

In [11]:
#exporting the dataset
df.to_csv("recommenderDataset.csv")